<section class="contact section" id="contacts">
    <h2 class="section__title">Контакты</h2>
    <span class="section__subtitle">Оставьте отзыв или напишите предложение</span>

    <div class="contact__container container grid section__border">
        <div class="contact__content">
            <h3 class="contact__title">
                <i class="ri-chat-3-line"></i> Напишите предложение
            </h3>

            <div class="contact__info">
                <div class="contact__data">
                    <span class="contact__data-title">Email</span>
                    <span class="contact__data-info">prostre1@ukr.net</span>

                    <a href="mailto:prostre1@ukr.net" target="_blank" class="contact__button">
                        Написать <i class="ri-arrow-right-line"></i>
                    </a>
                </div>

                <div class="contact__data">
                    <span class="contact__data-title">Telegram</span>
                    <span class="contact__data-info">@pr0stre1</span>

                    <a href="https://t.me/pr0stre1" target="_blank" class="contact__button">
                        Написать <i class="ri-arrow-right-line"></i>
                    </a>
                </div>

            </div>
        </div>

        <div class="contact__content">
            <h3 class="contact__title">
                <i class="fa-regular fa-face-smile"></i> Оставьте отзыв
            </h3>

            <form action="" class="contact__form" id="contact-form">
<!--                <div class="contact__form-div">-->
<!--                    <label class="contact__form-tag">Name</label>-->
<!--                    <input type="text" name="user_name" required placeholder="Write your name" class="contact__form-input" id="contact-name" autocomplete="off">-->
<!--                </div>-->

<!--                <div class="contact__form-div">-->
<!--                    <label class="contact__form-tag">Role</label>-->
<!--                    <input type="text" name="user_role" required placeholder="Write your role" class="contact__form-input" id="contact-role" autocomplete="off">-->
<!--                </div>-->

                <div class="contact__form-div contact__form-area">
<!--                    <label class="contact__form-tag">Отзыв</label>-->
                    <textarea maxlength="255" name="user_testimonial" required placeholder="Напишите отзыв&#10;(максимум 255 символов)" id="contact-testimonial" class="contact__form-input"></textarea>
                </div>

                <p class="contact__message" id="contact-message"></p>
                <button class="contact__button" id="contact_button">
                    Отправить <i class="ri-arrow-right-up-line"></i>
                </button>
            </form>
        </div>
    </div>
</section>