<footer class="footer">
    <div class="footer__container container">
<!--        <h1 class="footer__title">@</h1>-->
<!--        <p>Developer</p>-->

        <ul class="footer__list">
            <li>
                <a href="#home" class="footer__link">Главная</a>
            </li>

            <li>
                <a href="#government" class="footer__link">Правительство</a>
            </li>

            <li class="nav__item">
                <a href="#constitution" class="footer__link">Конституция</a>
            </li>

            <li class="nav__item">
                <a href="#laws" class="footer__link">Законы</a>
            </li>

            <li>
                <a href="#testimonial" class="footer__link">Отзывы</a>
            </li>

            <li>
                <a href="#contact" class="footer__link">Контакты</a>
            </li>
        </ul>

        <ul class="footer__community">
            <a href="https://t.me/freed0m0fspeech" target="_blank" class="footer__community-link">
                <i class="uil uil-telegram"></i>
            </a>
            <a href="https://discord.com/invite/dwKpNwQ" target="_blank" class="footer__community-link">
                <i class="uil uil-discord"></i>
            </a>
            <a href="https://vk.me/join/AAAAAOUSazBFPCDP0CGaVjyh" target="_blank" class="footer__community-link">
                <i class="uil uil-vk"></i>
            </a>
            <a href="https://ig.me/j/AbYGVQ6I8k2hQoUQ" target="_blank" class="footer__community-link">
                <i class="uil uil-instagram-alt"></i>
            </a>
            <a href="steam://connect/130.61.63.137:27015" target="_blank" class="footer__community-link">
                <i class="uil uil-server"></i>
            </a>
        </ul>

        <span class="footer__copy" id="footer__copy__years_value">2017<!--            &#169; Copyright 2017-2023, @. All rights reserved--></span>
    </div>
</footer>