<footer class="footer">
    <div class="footer__container container">
<!--        <h1 class="footer__title">@</h1>-->
<!--        <p>Developer</p>-->

        <ul class="footer__list">
            <li>
                <a href="#home" class="footer__link">Home</a>
            </li>

            <li>
                <a href="#government" class="footer__link">Government</a>
            </li>

            <li class="nav__item">
                <a href="#constitution" class="footer__link">Constitution</a>
            </li>

            <li class="nav__item">
                <a href="#laws" class="footer__link">Laws</a>
            </li>

            <li>
                <a href="#testimonial" class="footer__link">Testimonial</a>
            </li>

            <li>
                <a href="#contact" class="footer__link">Contact</a>
            </li>
        </ul>

        <ul class="footer__community">
            <a href="https://t.me/freed0m0fspeech" target="_blank" class="footer__community-link">
                <i class="uil uil-telegram"></i>
            </a>
            <a href="https://discord.com/invite/dwKpNwQ" target="_blank" class="footer__community-link">
                <i class="uil uil-discord"></i>
            </a>
            <a href="https://vk.me/join/AAAAAOUSazBFPCDP0CGaVjyh" target="_blank" class="footer__community-link">
                <i class="uil uil-vk"></i>
            </a>
        </ul>

        <span class="footer__copy" id="footer__copy__years_value">2017<!--            &#169; Copyright 2017-2023, @. All rights reserved--></span>
    </div>
</footer>