<section class="government section" id="government">
    <h2 class="section__title">Правительство</h2>
    <span class="section__subtitle">Текущее правительство Freedom of speech</span>

    <div class="government__container container grid section__border">
        <div class="government__card">
            <i class="ri-vip-crown-line"></i>

            <h2 class="government__title">
                Президент
            </h2>

            {% if end_vote %}
                {% if president_voted %}
                    <div class="government__vote">
                        <a href="/freedom_of_speech/profile/{{president_voted}}/">{{president_voted}}</a>
                    </div>
                {% else %}
                    <div class="government__president">
                        <div class="government__vote" id="government__vote_president">
                            <a href="" class="government__vote-selected" id="government__vote_president-selected">Проголосуй <i class="ri-arrow-down-circle-line"></i></a>
        <!--                    <div class="government__caret"></div>-->
                        </div>
                        <ul class="government__votes" id="government__votes_president">
                            {% for candidate, role in candidates.items %}
                                {% if role == 'president' %}
                                    <li>{{candidate}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% else %}
                <p class="government__description">
                    <a href="/freedom_of_speech/profile/{{president}}/">{{president}}</a>
                </p>
            {% endif %}

            <div class="government__border"></div>
        </div>

        <div class="government__card">
            <i class="ri-vip-crown-2-line"></i>

            <h2 class="government__title">
                Парламент
            </h2>

            {% if end_vote %}
                {% if parliament_voted %}
                    <div class="government__vote">
                        <a href="/freedom_of_speech/profile/{{parliament_voted}}/">{{parliament_voted}}</a>
                    </div>
                {% else %}
                    <div class="government__parliament">
                        <div class="government__vote" id="government__vote_parliament">
                            <a href="" class="government__vote-selected" id="government__vote_parliament-selected">Проголосуй <i class="ri-arrow-down-circle-line"></i></a>
                            <!--                    <div class="government__caret"></div>-->
                        </div>
                        <ul class="government__votes" id="government__votes_parliament">
                            {% for candidate, role in candidates.items %}
                                {% if role == 'parliament' %}
                                    <li>{{candidate}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% else %}
                <p class="government__description">
                    <a href="/freedom_of_speech/profile/{{parliament}}/">{{parliament}}</a>
                </p>
            {% endif %}

            <div class="government__border"></div>
        </div>

        <div class="government__card">
            <i class="fa-solid fa-handcuffs"></i>

            <h2 class="government__title">
                Судья
            </h2>

            {% if judge %}
                {% if is_president or is_parliament %}
                    <div class="government__judge">
                        <div class="government__vote" id="{% if is_parliament or is_president %}government__vote_judge{% endif %}">
                            <a href="/freedom_of_speech/profile/{{judge}}/" id="government__vote_judge-selected">{{judge}} <i class="ri-arrow-down-circle-line"></i></a>
                        </div>
                        <ul class="government__votes" id="government__votes_judge">
                            <li class="government__votes-active"></li>
                            {% for user in users %}
                                <li>{{user}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <p class="government__description">
                        <a href="/freedom_of_speech/profile/{{judge}}/">{{judge}}</a>
                    </p>
                {% endif %}
            {% else %}
                {% if is_president or is_parliament %}
                    <div class="government__judge">
                        <div class="government__vote" id="{% if is_parliament or is_president %}government__vote_judge{% endif %}">
                            <a href="#government" id="government__vote_judge-selected">Выбери <i class="ri-arrow-down-circle-line"></i></a>
                            <!--                    <div class="government__caret"></div>-->
                        </div>
                        <ul class="government__votes" id="government__votes_judge">
                            <li class="government__votes-active"></li>
                            {% for user in users %}
                                <li>{{user}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}

            <div class="government__border"></div>
        </div>

    </div>
</section>