<section class="government section" id="government">
    <h2 class="section__title">Government</h2>
    <span class="section__subtitle">Current government of Freedom of speech</span>

    <div class="government__container container grid section__border">
        <div class="government__card">
            <i class="ri-vip-crown-line"></i>

            <h2 class="government__title">
                President
            </h2>

            <p class="government__description">
                <a href="/freedom_of_speech/profile/{{president}}/">{{president}}</a>
            </p>

            <div class="government__border"></div>
        </div>

        <div class="government__card">
            <i class="ri-vip-crown-2-line"></i>

            <h2 class="government__title">
                Parliament
            </h2>

            <p class="government__description">
                <a href="/freedom_of_speech/profile/{{parliament}}/">{{parliament}}</a>
            </p>

            <div class="government__border"></div>
        </div>

        <div class="government__card">
            <i class="fa-solid fa-handcuffs"></i>

            <h2 class="government__title">
                Judge
            </h2>

            <p class="government__description">
                <a href="/freedom_of_speech/profile/{{judge}}/">{{judge}}</a>
            </p>

            <div class="government__border"></div>
        </div>

    </div>
</section>