{% load static %}
<section class="home section" id="home">
  <div class="home__container container grid section__border">
    <div class="home__data grid">
      <h1 class="home__title">
        Официальная страница <br>
        Freedom of speech <br>
      </h1>

      {% if end_vote %}
        <div class="home__blob grid voting">
          <img src="{% static 'freedom_of_speech/assets/img/freedom_of_speech-logo-light.gif' %}" alt="home perfil">
          <a href="#government"> Проголосуй <i class="ri-arrow-down-circle-line"></i></a>
        </div>
      {% else %}
        <div class="home__blob grid">
          <img src="{% static 'freedom_of_speech/assets/img/freedom_of_speech-logo-light.gif' %}" alt="home perfil">
        </div>
      {% endif %}

      {% if date_updated %}
        <div class="date__updated" id="date__updated">
          {{date_updated}}
        </div>
      {% endif %}
<!--      <div class="home__blob grid">-->
<!--        <div class="home__perfil">-->
<!--        <video src="{% static 'freedom_of_speech/assets/video/freedom_of_speech-logo.mp4' %}" autoplay loop muted></video>-->
<!--        </div>-->

<!--        <img src="{% static 'freedom_of_speech/assets/svg/shape-waves.svg' %}" alt="home waves" class="home__shape-waves">-->
<!--        <img src="{% static 'freedom_of_speech/assets/svg/shape-circle.svg' %}" alt="home circle" class="home__shape-circle">-->
      <ul class="home__community">
        <a href="https://t.me/freed0m0fspeech" target="_blank" class="home__community-link">
          <i class="uil uil-telegram"></i>
        </a>
        <a href="https://discord.com/invite/dwKpNwQ" target="_blank" class="home__community-link">
          <i class="uil uil-discord"></i>
        </a>
        <a href="https://vk.me/join/AAAAAOUSazBFPCDP0CGaVjyh" target="_blank" class="home__community-link">
          <i class="uil uil-vk"></i>
        </a>
        <a href="https://ig.me/j/AbYGVQ6I8k2hQoUQ" target="_blank" class="home__community-link">
          <i class="uil uil-instagram-alt"></i>
        </a>
        <a href="steam://connect/130.61.63.137:27015" target="_blank" class="home__community-link">
          <i class="uil uil-server"></i>
        </a>
      </ul>
    </div>

    <!--==================== HOME INFO 1 ====================-->
    <div class="home__info">
      <div>
        <h3 class="home__info-title">
          БИОГРАФИЯ
        </h3>

        <p class="home__info-description">
          Freedom of speech - проект про настоящую свободу, правда немного в другом плане. История начинается 3 февраля, 2017 года
        </p>
      </div>

      <div>
        <h3 class="home__info-title">
          КОНТАКТЫ
        </h3>

        <p class="home__info-description">
          Email: prostre1@ukr.net <br>
          Telegram: @pr0stre1 <br>
        </p>
      </div>

      <div>
        <h3 class="home__info-title">
          ФУНКЦИОНАЛ
        </h3>

        <p class="home__info-description">
          Дискорд бот <br>
          Телеграм бот <br>
          Официальная страница <br>
          CS:GO сервер <br>
        </p>
      </div>
    </div>
    <!--==================== HOME INFO 2 ====================-->
    <div class="home__info">
      <div>
        <h3 class="home__info-title">
          {% if end_vote %}
            Выборы
          {% else %}
            Следующие выборы
          {% endif %}
        </h3>

        <p class="home__info-number" id="home__info__years_value">
          {% if end_vote %}
            {{end_vote}}
          {% else %}
            {{start_vote}}
          {% endif %}
<!--          Feb 3, 2017-->
<!--          2017-2023-->
          <div class="home__info-description" id="home__date_counter"></div>
        </p>
      </div>

      <div>
        <h3 class="home__info-title">
          УЧАСТНИКОВ
        </h3>

        <p class="home__info-number" id="members_value">
          {{members_count}}
<!--          <div class="animated_number home__info-number"></div>-->
        </p>
      </div>

      <div>
        <h3 class="home__info-title">
          ВЕСЕЛЬЕ
        </h3>

        <p class="home__info-number" id="fun_value">
          100 %
        </div>
      </div>
    </div>

  </div>
</section>