<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--=============== FAVICON ===============-->
  <link rel="shortcut icon" href="{% static 'freedom_of_speech/assets/img/favicon.jpg' %}" type="image/x-icon">

  <!--=============== REMIXICONS ===============-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">

  <!--=============== UNICONS ===============-->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">

  <!--=============== BOOTSTRAP ===============-->
  <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">-->

  <!--=============== CSS ===============-->
  <link rel="stylesheet" href="{% static 'freedom_of_speech/assets/css/styles.css' %}">

  <title>Участники</title>
</head>
<body>
{% csrf_token %}
{% load filter %}
<!--==================== THEME ====================-->
<script>
  let selected_theme = localStorage.getItem('selected-theme')
  let selected_icon = localStorage.getItem('selected-icon')

  if (selected_theme !== null)
    localStorage.setItem('selected-theme', selected_theme === 'dark-theme' ? 'dark-theme' : selected_theme === 'light-theme' ? 'light-theme' : 'system-theme')

  if (selected_icon !== null)
    localStorage.setItem('selected-icon', selected_icon === 'ri-contrast-line' ? 'ri-contrast-line' : selected_icon === 'ri-moon-line' ? 'ri-moon-line' : 'ri-sun-line')

  if (selected_theme === null || selected_icon === null) {
    localStorage.setItem('selected-theme', 'system-theme')
    localStorage.setItem('selected-icon', 'ri-contrast-line')
  }

  if (selected_theme === 'dark-theme')
    document.body.classList.add('dark-theme')
  else if (selected_theme === 'system-theme')
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches)
      document.body.classList.add('dark-theme')
</script>
<!--==================== HEADER ====================-->
<header class="header" id="header">
  <nav class="nav container">
    <a href="/freedom_of_speech/" class="nav__logo">
      Freedom of speech
    </a>

    <div class="nav__buttons">
      <!--Theme change button-->
      <i class="change-theme" id="theme-button"></i>
    </div>
  </nav>
</header>

<!--==================== MAIN ====================-->
<main class="main">
  <section class="members section" id="members">
    <h2 class="section__title">Участники</h2>
    <span class="section__subtitle">Топ участников Freedom of speech</span>

      <div class="members__container container">
        {% for username, member_parameters, telegram_parameters in members %}
          <a href="/freedom_of_speech/profile/{{username}}/">
            <img src="{{telegram_parameters.photo_url}}">&nbsp;
            @{{username}} ({{member_parameters.position}})
            Уровень: {{member_parameters.lvl}}
            <!--              @{{telegram_parameters.username}} ( {{telegram_parameters.first_name}} {{telegram_parameters.last_name}} )-->
            <!--              Опыт: {{member_parameters.xp_have}} | {{member_parameters.xp_need}}-->
          </a>
        {% endfor %}
      </div>

  </section>
</main>

<!--==================== FOOTER ====================-->


<!--========== SCROLL UP ==========-->
<a href="#" class="scrollup" id="scroll-up">
  <i class="ri-arrow-up-circle-line"></i>
</a>

<!--=============== SCROLL REVEAL ===============-->
<script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js"></script>

<!--=============== SWIPER JS ===============-->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!--=============== FONT AWESOME ===============-->
<script src="https://kit.fontawesome.com/95c0aa19f9.js" crossorigin="anonymous"></script>

<!--=============== jQuery Core 3.6.3 ===============-->
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<!--=============== MAIN JS ===============-->
<script src="{% static 'freedom_of_speech/assets/js/main.js' %}"></script>
</body>
</html>