<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{{telegram_photo_url}}" type="image/x-icon">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">

    <!--=============== UNICONS ===============-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">

    <!--=============== BOOTSTRAP ===============-->
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">-->

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'freedom_of_speech/assets/css/styles.css' %}">

    <title>{{username}}</title>
</head>
<body>
{% csrf_token %}
{% load filter %}
<!--==================== HEADER ====================-->
<header class="header" id="header">
    <nav class="nav container">
        <a href="/freedom_of_speech" class="nav__logo">
            Freedom of speech
        </a>

        {% if authorized %}
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">

                    <li class="nav__item">
                        <a href="#profile" class="nav__link">
                            <i class="ri-user-line"></i> Профиль
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#username" class="nav__link">
                            <i class="ri-hashtag"></i> Никнейм
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#password" class="nav__link">
                            <i class="ri-key-2-line"></i> Пароль
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#signout" class="nav__link">
                            <i class="ri-logout-box-r-line"></i> Выйти
                        </a>
                    </li>
                </ul>

                <!--            Close button-->
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-circle-line"></i>
                </div>
            </div>
        {% endif %}

        <div class="nav__buttons">
            <!--Theme change button-->
            <i class="ri-moon-line change-theme" id="theme-button"></i>

            {% if authorized %}
                <!--            Toggle button-->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-5-line"></i>
                </div>
            {% endif %}
        </div>
    </nav>
</header>

<!--==================== MAIN ====================-->
<main class="main">
    <section class="profile section" id="profile">
        <div class="{% if member_status %} profile__container {% endif %} {% if authorized %} section__border {% endif %} container grid">
            <div class="profile__data grid">
                <h1 class="profile__title">
                    Страница профиля <br>
                    {{username}} <br>
                </h1>

                <div class="profile__blob grid">
                    <!--        <div class="profile__perfil">-->
                    <img src="{% if telegram_photo_url %} {{telegram_photo_url}} {% else %} {% static 'freedom_of_speech/assets/img/rick-astley-320px.gif' %} {% endif %}" alt="profile perfil">
                    <!--        </div>-->

                    <!--        <img src="{% static 'freedom_of_speech/assets/svg/shape-waves.svg' %}" alt="profile waves" class="profile__shape-waves">-->
                    <!--        <img src="{% static 'freedom_of_speech/assets/svg/shape-circle.svg' %}" alt="profile circle" class="profile__shape-circle">-->
                </div>

                {% if date_updated and telegram_link_status%}
                    <div class="date__updated">
                        <p id="date__updated">{{date_updated}} UTC</p>
                    </div>
                {% endif %}
            {%if authorized %}
                <ul class="profile__community">
                    <a href="#" target="_blank" class="profile__community-link profile__community-link__{{telegram_link_status}}" id="auth-telegram_button">
                        <i class="uil uil-telegram"></i>
                    </a>

                    <!--          <a href="https://discord.com/invite/dwKpNwQ" target="_blank" class="profile__community-link__unlinked profile__community-link">-->
                    <!--            <i class="uil uil-discord"></i>-->
                    <!--          </a>-->
                    <!--          <a href="https://vk.me/join/AAAAAOUSazBFPCDP0CGaVjyh" target="_blank" class="profile__community-link__unlinked profile__community-link">-->
                    <!--            <i class="uil uil-vk"></i>-->
                    <!--          </a>-->
                </ul>
            {% endif %}
            </div>

            {% if member_status %}
                <!--==================== PROFILE INFO 1 ====================-->
                <div class="profile__info">
                    <div>
                        <h3 class="profile__info-title">
                            ИНФОРМАЦИЯ
                        </h3>

                        <p class="profile__info-description">
                            {% if telegram_first_name %}
                                {{telegram_first_name}} {{telegram_last_name}} <br><br>
                            {% endif %}
                            {% if position and members_count %}
                                Топ: {{position}} | {{members_count}} <br>
                            {% endif %}
                            {% if lvl %}
                                Уровень: {{lvl}} <br>
                            {% endif %}
                            {% if xp_have and xp_need %}
                                Опыт: {{xp_have}} | {{xp_need}}<br>
                            {% endif %}
                        </p>
                    </div>

                    <div>
                        <h3 class="profile__info-title">
                            КОНТАКТЫ
                        </h3>

                        <p class="profile__info-description">
                            {% if telegram_username %}
                                <span class="contact__data-info">Telegram: @{{telegram_username}}</span>
                                <br>
                                <a href="https://t.me/{{telegram_username}}" target="_blank" class="contact__button">
                                    Написать <i class="ri-arrow-right-line"></i>
                                </a>
                            {% else %}
                                {% if telegram_id %}
                                    <span class="contact__data-info">Telegram ID: {{telegram_id}}</span>
                                    <br>
                                    <a href="tg://user?id={{telegram_id}}" target="_blank" class="contact__button">
                                        Написать <i class="ri-arrow-right-line"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>

                    <div>
                        <h3 class="profile__info-title">
                            РОЛЬ
                        </h3>

                        <p class="profile__info-description">
                            {% if role %}
                                {{role}}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <!--==================== PROFILE INFO 2 ====================-->
                <div class="profile__info">
                    <div>
                        <h3 class="profile__info-title">
                            СВОБОДА
                        </h3>

                        {% if joined_date %}
                            <p class="profile__info-number" id="profile__info__years_value">
                                {{joined_date}} UTC
                                <!--          2017-2023-->
                                <div class="profile__info-description" id="profile__date_counter"></div>
                            </p>
                        {% endif %}
                    </div>

                    <div>
                        <h3 class="profile__info-title">
                            КОЛИЧЕСТВО СООБЩЕНИЙ
                        </h3>

                        <p class="profile__info-number">
                            {% if messages_count %}
                                {{messages_count}}
                            {% endif %}
                            <!--          <div class="animated_number profile__info-number"></div>-->
                        </p>
                    </div>

                    <div>
                        <h3 class="profile__info-title">
                            ВРЕМЯ В ГОЛОСОВОМ КАНАЛЕ
                        </h3>

                        <p class="profile__info-number">
                            {% if hours_in_voice_channel %}
                                {{hours_in_voice_channel}}ч <br>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    {%if authorized %}

        <section class="entry section" id="username">
            <h2 class="section__title">Никнейм</h2>
            <span class="section__subtitle">Изменить никнейм персонального профиля</span>

            <div class="entry__container container grid section__border">
                <div class="entry__content">
                    <form action='' class="entry__form" id="entry-form-username">
                        <div class="entry__form-div">
                            <label class="entry__form-tag">Никнейм</label>
                            <input type="text" name="user_name" required placeholder="Напишите новый никнейм" class="entry__form-input" id="username-change_username" autocomplete="username">
                        </div>

                        <div class="entry__form-div">
                            <label class="entry__form-tag">Текущий пароль</label>
                            <input type="password" name="user_password" required placeholder="Напишите текущий пароль" class="entry__form-input" id="username-change_password" autocomplete="current-password">
                        </div>

                        <p class="entry__message" id="entry-message-username"></p>
                        <button class="entry__button" id="username-change_button">
                            Изменить <i class="ri-swap-line"></i>
                        </button>
                    </form>
                </div>
            </div>
        </section>

        <section class="entry section" id="password">
            <h2 class="section__title">Пароль</h2>
            <span class="section__subtitle">Изменить пароль персонального профиля</span>

            <div class="entry__container container grid section__border">
                <div class="entry__content">
                    <form action='' class="entry__form" id="entry-form-password">
                        <input hidden autocomplete="username" name="user_name" type="text" value="{{..}}"/>

                        <div class="entry__form-div">
                            <label class="entry__form-tag">Текущий пароль</label>
                            <input type="password" name="user_password_old" required placeholder="Напишите текущий пароль" class="entry__form-input" id="password-change_old_password" autocomplete="current-password">
                        </div>

                        <div class="entry__form-div">
                            <label class="entry__form-tag">Новый пароль</label>
                            <input type="password" name="user_password_new" required placeholder="Напишите новый пароль" class="entry__form-input" id="password-change_new_password" autocomplete="new-password">
                        </div>

                        <p class="entry__message" id="entry-message-password"></p>
                        <button class="entry__button" id="password-change_button">
                            Изменить <i class="ri-swap-line"></i>
                        </button>
                    </form>
                </div>
            </div>
        </section>
        <section class="entry section" id="signout">
            <div class="entry__container container grid section__border">
                <div class="entry__content">
                    <form action="" class="entry__form">
                        <button class="entry__button" id="signout-button">
                            Выйти <i class="ri-logout-circle-r-line"></i>
                        </button>
                    </form>
                </div>
            </div>
        </section>
    {% endif %}
</main>

<!--==================== FOOTER ====================-->


<!--========== SCROLL UP ==========-->
<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-circle-line"></i>
</a>

<!--=============== SCROLL REVEAL ===============-->
<script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js"></script>

<!--=============== SWIPER JS ===============-->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!--=============== EMAIL JS ===============-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

<!--=============== FONT AWESOME ===============-->
<script src="https://kit.fontawesome.com/95c0aa19f9.js" crossorigin="anonymous"></script>

<!--=============== jQuery Core 3.6.3 ===============-->
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<!--=============== TELEGRAM JS ===============-->
<script src="https://telegram.org/js/telegram-widget.js?"></script>

<!--=============== MAIN JS ===============-->
<script src="{% static 'freedom_of_speech/assets/js/main.js' %}"></script>
</body>
</html>