<!DOCTYPE html>
{% extends 'freedom_of_speech/index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Freedom of speech</title>

  <noscript>
    <meta https-equiv="refresh" runat="server" id="mtaJSCheck" content="0;index_3.html"/>
  </noscript>

  <link rel="stylesheet" href="assets/css/fotorama.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">


  <script>
    <meta https-equiv="refresh" runat="server" id="mtaJSCheck" content="0;index.html"/>
  </script>

  <link rel="Shortcut icon" href="@leg+.ico" type="image/x-icon"/>

  <script type="text/javascript">
    function disableselect(e) {
      return false
    }

    function reEnable() {
      return true
    }

    document.onselectstart = new Function("return false")
    document.oncontextmenu = new Function("return false")

    if (window.sidebar) {
      document.onmousedown = disableselect
      document.onclick = reEnable
    }
  </script>
</head>
<body oncopy="return false" oncut="return false" onpaste="return false">

{% block content %}

<center><font size="10" face="impact" color="black">RULES</font></center>

<font size="5" face="impact" color="black">Chapter 1 [ВЫБОРЫ]:</font><br>
<br><font size="3" face="impact" color="black">
  <div>
    1. Каждый имеет право быть кандидатом на выборах, кроме случаев определённых правилами и законами.<br>
    2. Побеждает в выборах только один кандидат, которого избирают на основании открытого голосования, набравший
    большинство голосов.<br>
    3. Участвовать в голосовании могут все, кроме случаев определённых правилами и законами, а так же личностей,
    которые участвуют в голосовании или тех, кто зашёл в группе во время голосования.<br>
    4. Кандидат, который был обнаружен за подкупом голосов, использовании фейковых аккаунтов или подобных махинаций,
    дисквалифицируется из голосования, а так же не имеет права подавать свою кандидатуру на следующие выборы.<br>
    5. Длительность голосования - 24 часа с момента опубликования.<br>
    6. Если по окончанию голосования два или несколько кандидатов имеют одинаковое количество голосов, побеждает
    тот, который первым получает преимущество в голосах.<br>
  </div>

</font><br>
<font size="5" face="impact" color="black">Chapter 2 [ВЛАСТЬ]:</font><br>
<br><font size="3" face="impact" color="black">
  <div>
    1. Президент и Парламент выбираються большинством голосов путём открытого голосования.<br>
    2. Судья выбирается Президентом, после чего он должен быть утвержден Правительством, в ином случае судья не
    являеться легитимным.<br>
    3. Президент может быть снят со своего поста в случае: достаточно везкого нарушения или достаточного количества
    мелких нарушений или административных проступков; смерти; нарушении правил "Freedom of speech"; добровольного
    отказа от своих полномочий; неспособности выполнять свои полномочия; отказа от присяги. Всё описанное выше
    должно быть доказано судом с предоставлением всех улик и подтверждено Правительством.<br>
    4. Парламент может быть расформировано в слачае: отказа от присяги; достаточно везкого нарушения или
    достаточного количества мелких нарушений или административных проступков; нарушении правил "Freedom of speech".
    Всё описанное выше должно быть доказано судом с предоставлением всех улик при обращении Президента.<br>
    5. Судья может быть снят со своего поста в случае: отказа от присяги; нарушении правил "Freedom of speech";
    достаточно везкого нарушения или достаточного количества мелких нарушений или административных проступков.
    Доказательством вины занимается специальный орган. Всё описанное выше должно быть доказано судом с
    предоставлением всех улик при обращении Президента или Правительства. <br>
    5. Монарх может быть снят со своего поста в случае: отказа от присяги; нарушении правил "Freedom of speech";
    импичмента. <br>
    6. Судья может быть снят со своего поста в случае: отказа от присяги; нарушении правил "Freedom of speech";
    некомпетентности, которая должна быть доказана соответствующими органами; расформирования правительства. <br>
    7. При отказе от своих обьязаностей, полномочий или присяги любой орган власти не может участвовать в следующем
    голосовании на выборах.
  </div>
</font><br>

<font size="5" face="impact" color="black">Chapter 3 [ЗАКОНЫ]:</font><br>
<br><font size="3" face="impact" color="black">
  <div>
    1. Законы издаются Парламентом и после должны быть утверждены Президентом, в ином случае закон должен быть
    отправлен на пересмотр Правительству.<br>
    2. Закон набирает свою силу с момента публикации.<br>
    3. Законы должны издаваться в соответствии с Конституцией Freedom of speech. <br>
  </div>
</font><br>

<font size="5" face="impact" color="black">Chapter 4 [НАКАЗАНИЕ]:</font><br>
<br><font size="3" face="impact" color="black">
  <div>
    1. Наказание за преступления устанавливается Судьей, который в данный момент является легитивным. Тяжесть
    наказания определяется законами. Наказание может быть выдано только после доказания вины.<br>
    2. Любая личность не может быть наказана за преступление которое она не совершала.<br>
    3. Если у кого-либо есть основания о незаконном наказании личности, он может подать иск, который будет
    рассмотрен Судьей.<br>
    4. Если на момент совершения нарушения, закон касательного этого преступления не был описан или же опубликован,
    личность совершившая преступление будет считаться невиновной.</br>
    5. Никто не может быть наказан по какой-либо причине которая противоречит правам и свободам человека. <br>
    6. Никто не может быть забанен, все наказания могут быть выданы только в другой форме за то или иное
    преступление. <br>
    7. Реклама всех посторонних ресурсов является запрещённой и карается высокой мерой наказания, определяемой
    степенью нарушения. <br>
  </div>
</font><br>

<font size="5" face="impact" color="black">Chapter 5 [ОБЯЗАТЕЛЬСТВА]:</font><br>
<br><font size="3" face="impact" color="black">
  <div>
    1. Ангелина Гасан обязана всем и во всем.<br>
    2. В случаях, когда Ангелина Гасан не обязана, смотрите п.1.<br>
  </div>
</font><br>

<a href="https://t.me/pr0stre1">
  <font size="13" face="impact" color="black">Есть вопросы?</font><br>
</a>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="assets/js/fotorama.js"></script>
<script src="assets/js/paint.js"></script>

{% endblock content %}

</body>

</html>