{% load static %}
<section class="testimonial section" id="testimonial">

    <!--==================== TESTIMONIAL ====================-->
    <h2 class="section__title">Отзывы</h2>
    <span class="section__subtitle">О нас говорят</span>

    <div class="container section__border">
        <div class="testimonial__container swiper">
            <div class="swiper-wrapper">
                <!--==================== TESTIMONIAL 1 ====================-->
<!--                <div class="testimonial__content swiper-slide">-->
<!--                    <p class="testimonial__description">-->
<!--                        "Oh I'm sorry..."-->
<!--                    </p>-->

<!--                    <div>-->
<!--                        <h3 class="testimonial__name">Billy Herrington</h3>-->
<!--                        <span class="testimonial__subtitle">Member</span>-->
<!--                    </div>-->
<!--                </div>-->

                <!--==================== TESTIMONIAL 2 ====================-->
<!--                <div class="testimonial__content swiper-slide">-->
<!--                    <p class="testimonial__description">-->
<!--                        "Fucking slaves, get your ass back here! Fuck♂you!"-->
<!--                    </p>-->

<!--                    <div>-->
<!--                        <h3 class="testimonial__name">Van Darkholme</h3>-->
<!--                        <span class="testimonial__subtitle">Member</span>-->
<!--                    </div>-->
<!--                </div>-->

                <!--==================== TESTIMONIAL 3 ====================-->
<!--                <div class="testimonial__content swiper-slide">-->
<!--                    <p class="testimonial__description">-->
<!--                        "AHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH"-->
<!--                    </p>-->

<!--                    <div>-->
<!--                        <h3 class="testimonial__name">Erik Michaels</h3>-->
<!--                        <span class="testimonial__subtitle">Member</span>-->
<!--                    </div>-->
<!--                </div>-->

                {{testimonials_html | safe}}

            </div>

            <!-- Swiper arrows -->
            <div class="swiper-button-prev">
                <i class="ri-arrow-left-s-line"></i>
            </div>
            <div class="swiper-button-next">
                <i class="ri-arrow-right-s-line"></i>
            </div>

        </div>
    </div>

<!--    <img src="{% static 'freedom_of_speech/assets/svg/shape-waves.svg' %}" alt="testimonial image" class="testimonial__img">-->
</section>