{% load static %}
<section class="testimonial section" id="testimonials">

    <!--==================== TESTIMONIAL ====================-->
    <h2 class="section__title">Отзывы</h2>
    <span class="section__subtitle">О нас говорят</span>

    <div class="container section__border">
        <div class="testimonial__container swiper">
            <div class="swiper-wrapper">
                {% for testimonial in testimonials %}
                    <div class="testimonial__content swiper-slide">
                        <p class="testimonial__description" data-swiper-parallax="-100" data-swiper-parallax-duration="500">
                            "{{testimonial.text}}"
                        </p>
                        <div>
                            <h3 class="testimonial__name" data-swiper-parallax="-50" data-swiper-parallax-duration="500">{{testimonial.username}}</h3>
                            <h3 class="testimonial__subtitle" data-swiper-parallax="-25" data-swiper-parallax-duration="500">{{testimonial.role}}</h3>
                        </div>
                    </div>
                {% endfor %}

<!--                {{testimonials_html | safe}}-->

            </div>

            <!-- Swiper arrows -->
            <div class="swiper-button-prev">
                <i class="ri-arrow-left-s-line"></i>
            </div>
            <div class="swiper-button-next">
                <i class="ri-arrow-right-s-line"></i>
            </div>

        </div>
    </div>

<!--    <img src="{% static 'freedom_of_speech/assets/svg/shape-waves.svg' %}" alt="testimonial image" class="testimonial__img">-->
</section>