<footer class="footer">
    <div class="footer__container container">
<!--        <h1 class="footer__title">@</h1>-->
<!--        <p>Developer</p>-->

        <ul class="footer__list">
            <li>
                <a href="#home" class="footer__link">Home</a>
            </li>

            <li>
                <a href="#skills" class="footer__link">Skills</a>
            </li>

            <li>
                <a href="#qulification" class="footer__link">Qualification</a>
            </li>

            <li>
                <a href="#services" class="footer__link">Services</a>
            </li>

            <li>
                <a href="#projects" class="footer__link">Projects</a>
            </li>

            <li>
                <a href="#testimonials" class="footer__link">Testimonials</a>
            </li>

            <li>
                <a href="#contacts" class="footer__link">Contacts</a>
            </li>
        </ul>

        <ul class="footer__community">
            <a href="https://github.com/pr0stre1" target="_blank" class="footer__community-link">
                <i class="ri-github-line"></i>
            </a>
            <a href="https://t.me/pr0stre1" target="_blank" class="footer__community-link">
                <i class="ri-telegram-line"></i>
            </a>
            <a href="https://www.instagram.com/pr0stre1/" target="_blank" class="footer__community-link">
                <i class="ri-instagram-line"></i>
            </a>
            <a href="https://twitter.com/pr0stre1" target="_blank" class="footer__community-link">
                <i class="ri-twitter-line"></i>
            </a>
            <a href="https://www.facebook.com/pr0stre1" target="_blank" class="footer__community-link">
                <i class="ri-facebook-circle-line"></i>
            </a>
<!--            <a href="https://steamcommunity.com/id/pr0stre1/" target="_blank" class="footer__community-link">-->
<!--                <i class="ri-steam-line"></i>-->
<!--            </a>-->
        </ul>

        <span class="footer__copy" id="footer__copy__years_value">
<!--            &#169; Copyright 2017-2023, @. All rights reserved-->
        </span>
    </div>
</footer>