<footer class="footer">
    <div class="footer__container container">
<!--        <h1 class="footer__title">@</h1>-->
<!--        <p>Developer</p>-->

<!--        <ul class="footer__list">-->
<!--            <li>-->
<!--                <a href="#home" class="footer__link">Home</a>-->
<!--            </li>-->
<!--        </ul>-->

        <ul class="footer__community">
            {% for community in social %}
                <a href="{{community.href}}" target="_blank" class="footer__community-link">
                    <i class="{{community.class}}"></i>
                </a>
            {% endfor %}
        </ul>

        <span class="footer__copy" id="footer__copy__years_value">
<!--            &#169; Copyright 2017-2023, @. All rights reserved-->
        </span>
    </div>
</footer>