<header class="header" id="header">
    <nav class="nav container">
        <a href="" class="nav__logo">
            @
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list grid">
                <li class="nav__item">
                    <a href="#home" class="nav__link">
                        <i class="ri-home-2-line"></i> Home
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#skills" class="nav__link">
                        <i class="ri-trophy-line"></i> Skills
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#qualification" class="nav__link">
                        <i class="ri-book-open-line"></i> Qualification
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#services" class="nav__link">
                        <i class="ri-briefcase-line"></i> Services
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#projects" class="nav__link">
                        <i class="ri-image-line"></i> Projects
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#testimonials" class="nav__link">
                        <i class="ri-at-line"></i> Testimonials
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#contacts" class="nav__link">
                        <i class="ri-chat-3-line"></i> Contacts
                    </a>
                </li>
            </ul>

            <!--            Close button-->
            <div class="nav__close" id="nav-close">
                <i class="ri-close-circle-line"></i>
            </div>
        </div>

        <div class="nav__buttons">
            <!--            Theme change button-->
            <i class="change-theme" id="theme-button"></i>

            <!--            Toggle button-->
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-5-line"></i>
            </div>
        </div>
    </nav>
</header>