{% load static %}
<section class="home section" id="home">
  <div class="home__container container grid section__border">
    <div class="home__data grid">
      <h1 class="home__title">
        @ <br>
        Official portfolio <br>
      </h1>

      <div class="home__blob grid">
<!--        <div class="home__perfil">-->
        <img src="{% static 'portfolio/assets/img/@.png' %}" alt="home perfil">
<!--        </div>-->

<!--        <img src="{% static 'portfolio/assets/svg/shape-waves.svg' %}" alt="home waves" class="home__shape-waves">-->
<!--        <img src="{% static 'portfolio/assets/svg/shape-circle.svg' %}" alt="home circle" class="home__shape-circle">-->
      </div>
      <ul class="home__community">
        <a href="https://github.com/pr0stre1" target="_blank" class="home__community-link">
          <i class="ri-github-line"></i>
        </a>
        <a href="https://t.me/pr0stre1" target="_blank" class="home__community-link">
          <i class="ri-telegram-line"></i>
        </a>
        <a href="https://www.instagram.com/pr0stre1/" target="_blank" class="home__community-link">
          <i class="ri-instagram-line"></i>
        </a>
        <a href="https://twitter.com/pr0stre1" target="_blank" class="home__community-link">
          <i class="ri-twitter-line"></i>
        </a>
        <a href="https://www.facebook.com/pr0stre1" target="_blank" class="home__community-link">
          <i class="ri-facebook-circle-line"></i>
        </a>
<!--        <a href="https://steamcommunity.com/id/pr0stre1/" target="_blank" class="home__community-link">-->
<!--          <i class="ri-steam-line"></i>-->
<!--        </a>-->
      </ul>
    </div>

    <!--==================== HOME INFO 1 ====================-->
    <div class="home__info">
      <div>
        <h3 class="home__info-title">
          BIOGRAPHY
        </h3>

        <p class="home__info-description">
          Hi, my name is Oleh Zaporozhchenko. I'm Python Developer. I'm working on custom projects. I like new stuff
        </p>
      </div>

      <div>
        <h3 class="home__info-title">
          CONTACTS
        </h3>

        <p class="home__info-description">
          Email: prostre1@ukr.net <br>
          Telegram: @pr0stre1 <br>
        </p>
      </div>

      <div>
        <h3 class="home__info-title">
          SERVICES
        </h3>

        <p class="home__info-description">
          FullStack Developer <br>
          Desktop Developer <br>
          Bot Developer <br>
          Web Developer <br>
          DataBase Developer <br>
        </p>
      </div>
    </div>
    <!--==================== HOME INFO 2 ====================-->
    <div class="home__info">
      <div>
        <h3 class="home__info-title">
          YEARS OF EXPERIENCE
        </h3>

        <p class="home__info-number" id="home__info__years_value">
<!--          2017-2023-->
          <div class="home__info-description" id="home__date_counter"></div>
        </p>
      </div>

      <div>
        <h3 class="home__info-title">
          COMPLETED PROJECTS
        </h3>

        <p class="home__info-number">
          4
        </p>
      </div>

      <div>
        <h3 class="home__info-title">
          SKILLS
        </h3>

        <p class="home__info-number">
          15
        </p>
      </div>
    </div>

  </div>
</section>