{% load static %}
<section class="projects section" id="projects">

    <!--==================== PROJECTS ====================-->
    <h2 class="section__title">Projects</h2>
    <span class="section__subtitle">Most recent work</span>

    <div class="container section__border">
        <div class="projects__container swiper">
            <div class="swiper-wrapper">

                <!--==================== PROJECT 1 ====================-->
                <div class="projects__content swiper-slide">
                    <img src="{% static 'portfolio/assets/img/telegram-bot-project.jpg' %}" alt="projects image" class="projects__img">

                    <div>
                        <span class="projects__subtitle">Bot Development</span>
                            <h1 class="projects__title">Telegram bot</h1>

                            <a href="#projects" target="_blank" class="projects__button">
                                View demo <i class="ri-arrow-right-circle-line"></i>
                            </a>
                    </div>
                </div>

                <!--==================== PROJECT 2 ====================-->
                <div class="projects__content swiper-slide">
                    <img src="{% static 'portfolio/assets/img/discord-bot-project.png' %}" alt="projects image" class="projects__img">

                    <div>
                        <span class="projects__subtitle">Bot Development</span>
                            <h1 class="projects__title">Discord bot</h1>

                            <a href="#projects" class="projects__button">
                                View demo <i class="ri-arrow-right-circle-line"></i>
                            </a>
                    </div>
                </div>

                <!--==================== PROJECT 3 ====================-->
                <div class="projects__content swiper-slide">
                    <img src="{% static 'portfolio/assets/img/website-project.jpg' %}" alt="projects image" class="projects__img">

                    <div>
                        <span class="projects__subtitle">FullStack & Web Development</span>
                            <h1 class="projects__title">Modern Website</h1>

                            <a href="#projects" class="projects__button">
                                View demo <i class="ri-arrow-right-circle-line"></i>
                            </a>
                    </div>
                </div>

                <!--==================== PROJECT 4 ====================-->
                <div class="projects__content swiper-slide">
                    <img src="{% static 'portfolio/assets/img/mongodb-project.png' %}" alt="projects image" class="projects__img">

                    <div>
                        <span class="projects__subtitle">DataBase Development</span>
                        <h1 class="projects__title">MongoDB DataBase</h1>

                        <a href="#projects" class="projects__button">
                            View demo <i class="ri-arrow-right-circle-line"></i>
                        </a>
                    </div>
                </div>

            </div>

            <!-- Swiper arrows -->
            <div class="swiper-button-prev">
                <i class="ri-arrow-left-s-line"></i>
            </div>
            <div class="swiper-button-next">
                <i class="ri-arrow-right-s-line"></i>
            </div>

            <!-- Swiper pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>