{% load static %}
<section class="qualification section" id="qualification">
    <h2 class="section__title">Qualification</h2>
    <span class="section__subtitle">Experience & education</span>

    <div class="qualification__container container grid section__border">
        <!--==================== QUALIFICATION 1 ====================-->
        <div class="qualification__content">
            <h3 class="qualification__title">
                <i class="ri-book-mark-line"></i> Education
            </h3>

            <div class="qualification__info">
                <div>
                    <h3 class="qualification__name">
                        Bachelor of Computer Science
                    </h3>
                    <span class="qualification__country">Ukraine V. N. Karazin Kharkiv National University</span>
                    <span class="qualification__year">September 1, 2017 - July 2, 2021</span>
                </div>

                <div>
                    <h3 class="qualification__name">
                        Master of Computer Science
                    </h3>
                    <span class="qualification__country">Ukraine V. N. Karazin Kharkiv National University</span>
                    <span class="qualification__year">September 1, 2021 - December 31, 2022</span>
                </div>
            </div>
        </div>

        <!--==================== QUALIFICATION 2 ====================-->
        <div class="qualification__content">
            <h3 class="qualification__title">
                <i class="ri-building-line"></i> Work
            </h3>

            <div class="qualification__info">
                <div>
                    <h3 class="qualification__name">
                        Developer
                    </h3>
                    <span class="qualification__country">Bot Development</span>
                    <span class="qualification__year">2021 - 2023</span>
                </div>

                <div>
                    <h3 class="qualification__name">
                        Developer
                    </h3>
                    <span class="qualification__country">
                        FullStack & Web Development <br>
                        Desktop Development <br>
                        DataBase Development <br>
                    </span>
                    <span class="qualification__year">2017 - 2023</span>
                </div>
            </div>
        </div>

    </div>

<!--    <img src="{% static 'portfolio/assets/svg/shape-circle.svg' %}" alt="qualification image" class="qualification__img">-->
</section>