<section class="services section" id="services">
    <h2 class="section__title">Services</h2>
    <span class="section__subtitle">What I can do</span>

    <div class="services__container container grid section__border">
        <div class="services__card">
            <i class="ri-pages-line"></i>

            <h2 class="services__title">
                Websites
            </h2>

            <p class="services__description">
                Creating personal website for your own project
            </p>

            <div class="services__border"></div>
        </div>

        <div class="services__card">
            <i class="ri-database-2-line"></i>

            <h2 class="services__title">
                DataBases
            </h2>

            <p class="services__description">
                Design and support of various DataBases
            </p>

            <div class="services__border"></div>
        </div>

        <div class="services__card">
            <i class="ri-robot-2-line"></i>

            <h2 class="services__title">
                Bots
            </h2>

            <p class="services__description">
                Custom functionality through bot applications
            </p>

            <div class="services__border"></div>
        </div>
    </div>
</section>