<section class="services section" id="services">
    <h2 class="section__title">Services</h2>
    <span class="section__subtitle">What i offer</span>

    <div class="services__container container grid section__border">
        <div class="services__card">
            <i class="ri-robot-line"></i>

            <h2 class="services__title">
                Bot Development
            </h2>

            <p class="services__description">
                Development of various Bots and functionality
            </p>

            <div class="services__border"></div>
        </div>

        <div class="services__card">
            <i class="ri-database-2-line"></i>

            <h2 class="services__title">
                DataBase Development
            </h2>

            <p class="services__description">
                Development of various DataBases
            </p>

            <div class="services__border"></div>
        </div>

        <div class="services__card">
            <i class="ri-computer-line"></i>

            <h2 class="services__title">
                Desktop Development
            </h2>

            <p class="services__description">
                Development of various desktop applications
            </p>

            <div class="services__border"></div>
        </div>

    </div>
</section>