{% load static %}
<section class="skills section" id="skills">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">My skills in different areas</span>

    <div class="skills__container container grid section__border">
        <!--==================== SKILLS 1 ====================-->
        <div class="skills__content">
            <h3 class="skills__title">
                <i class="ri-braces-line"></i> FullStack & Web Development
            </h3>

            <div class="skills__info">
                <div class="skills__data">
                    <div class="skills__blob">
                        <img src="{% static 'portfolio/assets/svg/html-1.svg' %}" alt="skills image">
                    </div>

                    <h3 class="skills__name">HTML</h3>
                    <span class="skills__subtitle">Intermediate</span>
                </div>

                <div class="skills__data">
                    <div class="skills__blob">
                        <img src="{% static 'portfolio/assets/svg/css-3.svg' %}" alt="skills image">
                    </div>

                    <h3 class="skills__name">CSS</h3>
                    <span class="skills__subtitle">Intermediate</span>
                </div>

                <div class="skills__data">
                    <div class="skills__blob">
                        <img src="{% static 'portfolio/assets/svg/logo-javascript.svg' %}" alt="skills image">
                    </div>

                    <h3 class="skills__name">JavaScript</h3>
                    <span class="skills__subtitle">Intermediate</span>
                </div>

                <div class="skills__data">
                    <div class="skills__blob">
                        <img src="{% static 'portfolio/assets/svg/git-icon.svg' %}" alt="skills image">
                    </div>

                    <h3 class="skills__name">Git</h3>
                    <span class="skills__subtitle">Intermediate</span>
                </div>

<!--                <div class="skills__data">-->
<!--                    <div class="skills__blob">-->
<!--                        <img src="{% static 'portfolio/assets/svg/react-2.svg' %}" alt="skills image">-->
<!--                    </div>-->

<!--                    <h3 class="skills__name">React</h3>-->
<!--                    <span class="skills__subtitle">Basic</span>-->
<!--                </div>-->
            </div>
        </div>

        <!--==================== SKILLS 2 ====================-->
        <div class="skills__content">
            <h3 class="skills__title">
                <i class="ri-computer-line"></i>Desktop Development
            </h3>

            <div class="skills__info">
                <div class="skills__data">
                    <div class="skills__blob">
                        <img src="{% static 'portfolio/assets/svg/python-language.svg' %}" alt="skills image">
                    </div>

                    <h3 class="skills__name">Python</h3>
                    <span class="skills__subtitle">Advanced</span>
                </div>

                <div class="skills__data">
                    <div class="skills__blob">
                        <img src="{% static 'portfolio/assets/svg/java-language.svg' %}" alt="skills image">
                    </div>

                    <h3 class="skills__name">Java</h3>
                    <span class="skills__subtitle">Intermediate</span>
                </div>

                <div class="skills__data">
                    <div class="skills__blob">
                        <img src="{% static 'portfolio/assets/svg/c#-language.svg' %}" alt="skills image">
                    </div>

                    <h3 class="skills__name">C#</h3>
                    <span class="skills__subtitle">Intermediate</span>
                </div>

                <div class="skills__data">
                    <div class="skills__blob">
                        <img src="{% static 'portfolio/assets/svg/c-language.svg' %}" alt="skills image">
                    </div>

                    <h3 class="skills__name">C</h3>
                    <span class="skills__subtitle">Intermediate</span>
                </div>

                <div class="skills__data">
                    <div class="skills__blob">
                        <img src="{% static 'portfolio/assets/svg/c++-language.svg' %}" alt="skills image">
                    </div>

                    <h3 class="skills__name">C++</h3>
                    <span class="skills__subtitle">Intermediate</span>
                </div>
            </div>
        </div>

        <!--==================== SKILLS 3 ====================-->
        <div class="skills__content">
            <h3 class="skills__title">
                <i class="ri-robot-line"></i>Bot Development
            </h3>

            <div class="skills__info">
                <div class="skills__data">
                    <div class="skills__blob">
                        <img src="{% static 'portfolio/assets/img/pyrogram.png' %}" alt="skills image">
                    </div>

                    <h3 class="skills__name">Pyrogram</h3>
                    <span class="skills__subtitle">Advanced</span>
                </div>

                <div class="skills__data">
                    <div class="skills__blob">
                        <img src="{% static 'portfolio/assets/img/disnake.png' %}" alt="skills image">
                    </div>

                    <h3 class="skills__name">discord.py</h3>
                    <span class="skills__subtitle">Advanced</span>
                </div>

                <div class="skills__data">
                    <div class="skills__blob">
                        <img src="{% static 'portfolio/assets/img/aiogram.png' %}" alt="skills image">
                    </div>

                    <h3 class="skills__name">AIOGram</h3>
                    <span class="skills__subtitle">Intermediate</span>
                </div>
            </div>
        </div>

        <!--==================== SKILLS 4 ====================-->
        <div class="skills__content">
            <h3 class="skills__title">
                <i class="ri-database-2-line"></i>DataBase Development
            </h3>

            <div class="skills__info">
                <div class="skills__data">
                    <div class="skills__blob">
                        <img src="{% static 'portfolio/assets/svg/mongodb.svg' %}" alt="skills image">
                    </div>

                    <h3 class="skills__name">MongoDB</h3>
                    <span class="skills__subtitle">Advanced</span>
                </div>

                <div class="skills__data">
                    <div class="skills__blob">
                        <img src="{% static 'portfolio/assets/svg/mysql.svg' %}" alt="skills image">
                    </div>

                    <h3 class="skills__name">MySQL</h3>
                    <span class="skills__subtitle">Intermediate</span>
                </div>
            </div>
        </div>

    </div>
</section>