{% load static %}
<section class="testimonial section" id="testimonials">

    <!--==================== TESTIMONIAL ====================-->
    <h2 class="section__title">Testimonials</h2>
    <span class="section__subtitle">What people saying</span>

    <div class="container section__border">
        <div class="testimonial__container swiper">
            <div class="swiper-wrapper">
                {% for testimonial in testimonials %}
                    <div class="testimonial__content swiper-slide">
                        <p class="testimonial__description">
                            "{{testimonial.text}}"
                        </p>
<!--                        <div>-->
<!--                            <h3 class="testimonial__name">{{testimonial.name}}</h3>-->
<!--                            <span class="testimonial__subtitle">{{testimonial.role}}</span>-->
<!--                        </div>-->
                    </div>
                {% endfor %}
            </div>

            <!-- Swiper arrows -->
            <div class="swiper-button-prev">
                <i class="ri-arrow-left-s-line"></i>
            </div>
            <div class="swiper-button-next">
                <i class="ri-arrow-right-s-line"></i>
            </div>

        </div>
    </div>

<!--    <img src="{% static 'portfolio/assets/svg/shape-waves.svg' %}" alt="testimonial image" class="testimonial__img">-->
</section>