{% load static %}
<section class="profile section" id="profile">
  <div class="profile__container {% if authorized %} section__border {% endif %} container grid">
    <div class="profile__data grid">
      <h1 class="profile__title">
        Страница профиля <br>
        {{username}} <br>
      </h1>

      <div class="profile__blob grid">
        <!--        <div class="profile__perfil">-->
        <img src="{% if discord_id and discord_avatar %} https://cdn.discordapp.com/avatars/{{discord_id}}/{{discord_avatar}}?size=320 {% else %} {% if telegram_photo_url %} {{telegram_photo_url}} {% endif %} {% endif %}">
        <!--        https://discord.com/developers/docs/reference#image-formatting-->
        <!--        https://cdn.discordapp.com/avatars/discord_id/discord_avatar?size=320-->
        <!--        </div>-->

        <!--        <img src="{% static 'freedom_of_speech/assets/svg/shape-waves.svg' %}" alt="profile waves" class="profile__shape-waves">-->
        <!--        <img src="{% static 'freedom_of_speech/assets/svg/shape-circle.svg' %}" alt="profile circle" class="profile__shape-circle">-->
      </div>

<!--       if telegram_date_updated and telegram_link_status-->
<!--      <div class="date__updated">-->
<!--        <p id="date__updated">telegram_date_updated UTC</p>-->
<!--      </div>-->
<!--       endif -->
      {% if authorized %}
      <ul class="profile__community">
        <a href="#" target="_blank" class="profile__community-link profile__community-link__{{telegram_link_status}}" id="auth-telegram_button">
          <i class="ri-telegram-line"></i>
        </a>

        <a href="#" target="_blank" class="profile__community-link profile__community-link__{{discord_link_status}}" id="auth-discord_button">
          <i class="ri-discord-line"></i>
        </a>

        <!--          <a href="https://discord.com/invite/dwKpNwQ" target="_blank" class="profile__community-link__unlinked profile__community-link">-->
        <!--            <i class="uil uil-discord"></i>-->
        <!--          </a>-->
        <!--          <a href="https://vk.me/join/AAAAAOUSazBFPCDP0CGaVjyh" target="_blank" class="profile__community-link__unlinked profile__community-link">-->
        <!--            <i class="uil uil-vk"></i>-->
        <!--          </a>-->
      </ul>
      {% endif %}
    </div>

    <!--==================== PROFILE INFO 1 ====================-->
    <div class="profile__info">
      <div>
        <h3 class="profile__info-title">
          ИНФОРМАЦИЯ
        </h3>

        <p class="profile__info-description">
          {% if telegram_first_name %}
            {{telegram_first_name}} {{telegram_last_name}} <br>
            <br>
          {% endif %}

          {% if discord_global_name %}
            {{discord_global_name}} <br>
            <br>
          {% endif %}

          {% if lvl %}
            Уровень: {{lvl}} <br>
          {% endif %}

          {% if xp_have and xp_need %}
            Опыт: {{xp_have}} | {{xp_need}} <br>
          {% endif %}
        </p>
      </div>

      <div>
        <h3 class="profile__info-title">
          КОНТАКТЫ
        </h3>

        <p class="profile__info-description">
          {% if telegram_username %}
            <a href="https://t.me/{{telegram_username}}" target="_blank" class="contact__button">
              Telegram <i class="ri-arrow-right-line"></i>
            </a>
            <br>
            {% else %}
              {% if telegram_id %}
                <a href="tg://user?id={{telegram_id}}" target="_blank" class="contact__button">
                  Telegram <i class="ri-arrow-right-line"></i>
                </a>
                <br>
              {% endif %}
          {% endif %}


          {% if discord_id %}
            <a href="https://discord.com/users/{{discord_id}}" target="_blank" class="contact__button">
              Discord <i class="ri-arrow-right-line"></i>
            </a>
            <br>
          {% endif %}
        </p>
      </div>

      <div>
        <h3 class="profile__info-title">
          РОЛЬ
        </h3>

        <p class="profile__info-description">
          {% if telegram_role %}
            {{telegram_role}}
          {% endif %}
        </p>
      </div>
    </div>
    <!--==================== PROFILE INFO 2 ====================-->
    <div class="profile__info">
      <div>
        <h3 class="profile__info-title">
          СВОБОДА
        </h3>

        <p class="profile__info-number" id="profile__info__years_value">
          {% if telegram_joined_date %}
            {{telegram_joined_date}} UTC
          {% endif %}
            <!--          2017-2023-->
          <div class="profile__info-description" id="profile__date_counter"></div>
        </p>
      </div>

      <div>
        <h3 class="profile__info-title">
          КОЛИЧЕСТВО СООБЩЕНИЙ
        </h3>

        <p class="profile__info-number">
          {% if messages_count %}
            {{messages_count}} <br>
          {% endif %}
          <!--          <div class="animated_number profile__info-number"></div>-->
        </p>
      </div>

      <div>
        <h3 class="profile__info-title">
          ВРЕМЯ В ГОЛОСОВОМ КАНАЛЕ
        </h3>

        <p class="profile__info-number">
          {% if voicetime %}
            {{voicetime}}ч <br>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</section>