APScheduler==3.10.1
beautifulsoup4==4.12.3
Django==4.2.11
django_telegram_login==0.2.3
pip==24.0
pymongo==4.6.3
python-dotenv==1.0.1
python_dateutil==2.8.2
pytz==2021.1
Requests==2.31.0
requests_html==0.10.0
setuptools==65.6.3
SpeechRecognition==3.8.1
whitenoise==6.3.0
yt_dlp
